body
{
  background: #ccc;
}
.image img
{
  margin-top: 10px;
  height: 100px;
}
nav li
{
  display:inline;
  margin-right: 20px;
  font-family: 'Lemonada', cursive;
}
.grid_6
{
  font-size: 60px;
  font-family: 'Lemonada', cursive;
  color:pink;
}
.container_12 .grid_4 img
{
  height: 200px;
  width: 250px;
}
.grid_4
{
  font-family: 'Lemonada', cursive;
   margin-top: 20px;
   margin-left: 0px;
   margin-right: 0px;
}
header
{
  position: fixed;
  background-color: black;
  width:100%;
  height: 140px;
  top: 0px;
  z-index: 1000;
}
ul a
{
  text-decoration: none;
  font-size: 30px;
  color:lightgreen;
  float:right;
  padding-right: 20px;
  margin-top: 35px;
  margin-left: 0px;
}
h1 a
{
  text-decoration: none;
  font-size: 30px;
  color:rose;
}
ul a:hover
{
  text-decoration: underline;
}
.main
{
  margin-top: 150px;
}
.image .grid_4
{
  font-size: 45px;
    font-family: 'Lemonada', cursive;
}
footer
{
  margin-top:50px;
font-family: 'Lemonada', cursive;
  font-size: 30px;
  background: black;
  color:pink;
  height: 100%;
}
footer img
{
  width:40px;
  height: 40px;
  padding-right: 20px;
margin-bottom: 30px;
}
.hero img
{
  margin-top: 65px;
  width:100%;
}
blockquote
{
    font-family: 'Lemonada', cursive;
    margin-top: 30px;
    font-size: 30px;
    margin-left: 130px;
}
h3
{
  position: absolute;
  top:950px;
  left: 50px;
  font-family: 'Lemonada', cursive;
    font-size: 25px;

}
h2
{
font-family: 'Lemonada', cursive;
font-size: 45px;
  position: absolute;
  top: 1100px;
  left: 300px;
}
.vertical .grid_6
{
  color:black;
  font-size: 20px;
  margin-top: 50px;
}
.vertical img
{
  width:450px;
  height: 485px;
}
.vertical p
{
  text-align:justify;
}
.plandesc p ,.solid p
{
  font-size: 20px;
  color: black;
  text-align: justify;
}
.plandesc h1,.solid h1
{
  color:black;
}
.solid
{
  position: relative;
  top: 50px;
}
.mine
{
  margin-top:200px;
}
.solid img,.plane img
{
  margin-top: 10px;
}
.geometry h1
{
   font-size: 50px;
   font-family: 'Galada', cursive;
   margin-top: 140px;
   margin-left: 850px;
}
.geometry
{
  background: url('geo.jpg');
  width: 100%;
  height: 100%;
  position:relative;
  background-attachment: fixed;
  background-size: cover;
}
.plane
{
  position: relative;
  top:50px;
}
.mine img,.mine p{
  margin-left: 50px;
}
.common
{
  background: white;
}
.face
{
  margin-left: 500px;
}
.face p
{
  margin-left: 500px;
  font-size: 20px;
}
.copy p
{
  color:#999;
  font-size: 10px;
  margin-left: 50px;
}
