.primary{
  margin-top: 190px;
}
.difficulty img{
  width: 450px;
  height: 200px;
}
.difficulty{
  background: lightgreen;
  margin-top: 55px;

}
.split img{
  width:450px;
  height: 770px;

}
body{
  background: #E6E6FA;
}
.difficulty h1,.split h1{
  color:black;
  position: relative;
  top: 0px;
}
